<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>双向绑定</title>
  <script src="./index.js"></script>
  <style>
    input {
      width: 300px;
      height: 30px;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>{{value}}</h1>
    <div>
      <input id="input1" type="number" v-model="value" />
    </div>
    <div>
      <input id="input2" type="number" :value="value" @input="this.value = $event.target.value" />
    </div>
    <div v-if="value%3===0">AAA</div>
    <div v-else-if="value%3===1">BBB</div>
    <div v-else>CCC</div>
  </div>
  <script>

    window.onload = function () {
      new Vue({
        el: "#app",
        data: {
          value: 9,
        },
      });
    };

  </script>
</body>

</html>